#participantList
{
	height: 290px;
	position:relative;
	overflow-y:scroll;
	-webkit-overflow-scrolling: touch;
}

.participants
{
	height: 748px;
	overflow-y:hidden;
}

#groupList
{
	height: 191px;
	position:relative;
	overflow-y:scroll;
	-webkit-overflow-scrolling: touch;
}


#upArrow {
	visibility: hidden;
}

#downArrow {
	visibility: visible;
}


#rightArrow {
	visibility: visible;
	top:50px;
	left:1005px;
	display:inline;
}

#leftArrow {
	visibility: hidden;
	top:50px;
	display:inline;
}

.workspace {
	width: 769px;
	height: 650px;
}

ul.appleCube > li {
	width:130px;
}

body {
	width:1024px;
	height:748px;
	overflow:hidden;
}

.files-area {
	height: 550px;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.monitter 
{
	-webkit-overflow-scrolling: touch;
}

#map_canvas {
	height: 550px;
}

#columns {
	width: 460px;

}

#survey_canvas {
	height: 550px;
	
}

#open_canvas {
	height: 550px;
}

#sharedScreen {
	height: 550px;
}

.queue
{
	width:765px;
	-webkit-overflow-scrolling: touch;
}

.column  {
	width:145px;
}

.monitter {
	width: 754px;

}

.hover-border {
	box-shadow: 0 0 15px DodgerBlue;
}
