#participantList
{
	height: 270px;
	position:relative;
	overflow-y:scroll;
	-webkit-overflow-scrolling: touch;
}

.participants
{
	overflow-y:hidden;
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

#groupList
{
	height: 241px;
	position:relative;
	overflow-y:scroll;
	-webkit-overflow-scrolling: touch;
}


#upArrow {
	visibility: hidden;
}

#downArrow {
	visibility: visible;
}


#rightArrow {
	visibility: visible;
	top:50px;
	left:965px;
	display:inline;
}

#leftArrow {
	visibility: hidden;
	top:50px;
	display:inline;
}

.workspace {
	width: 780px;
	height: 650px;
}

ul.appleCube > li {
	width:130px;
}

body {
	width:1004px;
	height:748px;
	overflow:hidden;
}

.files-area {
	height: 570px;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.monitter 
{
	-webkit-overflow-scrolling: touch;
}

#map_canvas {
	height: 570px;
}

#columns {
	width: 460px;
}

#survey_canvas {
	height: 570px;
}

#factor_canvas {
	height: 570px;
}

#open_canvas {
	height: 570px;
}

#shared_canvas {
	height: 570px;
}

#factor_canvas {
	height: 570px;
}

.queue
{
	width:725px;
	height:55px;
	overflow-y: hidden;
//	-webkit-overflow-scrolling: touch;
}

.column  {
	width:177px;
}

.monitter {
	width: 760px;

}
