#participantList
{
	height: 281px;
	position:relative;
	overflow-y:scroll;
	border-radius: 8px;
}

.participants
{
	height: 748px;
}

#groupList
{
	height: 200px;
	position:relative;
	overflow-y:scroll;
	border-radius: 8px;
}

.workspace
{
	display:none;

}

.queue
{
	width:774px;

}


.hover-border2:hover {
	box-shadow: 0 0 0px DodgerBlue;
}