/* Some CSS code modified from 
http://ofps.oreilly.com/titles/9780596805784/index.html
*/

body {
    background-color: #ddd; /* Background color */
    color: #222;            /* Foreground color used for text */
    font-family: Helvetica;
	
	/* Disable text selection */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

    font-size: 14px;
    margin: 0;              /* Amount of negative space around the outside of the body */
    padding: 0;             /* Amount of negative space around the inside of the body */
}

/* To keep header fixed at top */
div#header {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	position:fixed;
 }

 /* To have content always below the header */
div#content {
	margin-top:57px;
} 

h1 {
    margin: 0;
    padding: 0;
    background-color: #ccc;
    border: 1px solid #666;
    color: #FFFFFF;
    display: block;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
	text-shadow: 0px 1px 2px #000000;
		
	/* Cross Browser Gradient. */
	background: #B0BCCA;
    background: -webkit-gradient(linear, left top, left bottom, from(#B0BCCA), to(#6D859F));
    background: -moz-linear-gradient(top, #B0BCCA, #6D859F);
    background: -o-linear-gradient(#B0BCCA, #6D859F);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B0BCCA', endColorstr='#6D859F');
    zoom:1;
}

div#accordion {
    border: 1px solid #999999;
	color: #222222;
    display: block;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	margin: 10px;
	padding: 0;
}

h3 a {
	font-size: 17px;
    font-weight: bold;
	color: #222222;
    display: block;
}

ul.apple {
    margin: 10px;
    padding: 0;
}

ul.appleCube {
    margin: 10px;
    padding: 0;
}

ul.appleCube > li {
    border: 1px solid #999999;
	color: #222222;
    display: block;
	background-color: #FFFFFF;
	
	width: 15%;
	min-width: 65px;
	max-width: 100px;
	
	margin-bottom: 5px;
	margin-right: 5px;
	float: left;
	font-size: 17px;
    font-weight: bold;
	text-align: center;
	border-radius: 8px 8px 8px 8px;
}

ul.apple > li {
    border: 1px solid #999999;
	color: #222222;
    display: block;
	background-color: #FFFFFF;
	margin-bottom: -1px;

	font-size: 17px;
    font-weight: bold;
}

/* Nicer looking embedded lists */
ul.apple ul.apple {
	margin-left: -20;
	margin-right: -10;
	margin-bottom: -10;
}

.icon {
	background-repeat: no-repeat;
	background-position: 5px 5px;
	padding: 20px;
	padding-left: 60px
}

.sound {
	background-image: url(../icons/audio.png);
}

.delete {
	background-image: url(../icons/delete.png);
}

.share {
	background-image: url(../icons/share.png);
}

.email {
	background-image: url(../icons/email.png);
}

.image {
	background-image: url(../icons/image.png);
}

.doc {
	background-image: url(../icons/document.png);
}

.file {
	background-image: url(../icons/file.png);
}

.group {
	background-image: url(../icons/user_group.png);
}

.user {		
	background-image: url(../icons/user.png);

}

/* Remove underline and blue from links */
a {
	color: #222222;
	text-decoration: none;
}

/* Rounds Corners */
ul.apple li:first-child {
	border-radius: 8px 8px 0px 0px;
}
ul.apple li:last-child {
    border-radius: 0px 0px 8px 8px;	
}