
/* style from participants.html */
.participants 
{
    position:absolute;
    left:0;
    top:0;
    width:300px;
    
    
    background-color: #ddd; /* Background color */
    color: #222;            /* Foreground color used for text */
    font-family: Helvetica;
    font-size: 14px;
    margin: 0;              /* Amount of negative space around the outside of the body */
    padding: 0;             /* Amount of negative space around the inside of the body */

    
}

.twitterfeed 
{
    position:absolute;
    top:850px;
    left:300px;
    width:1000px;
    height:150px;
}

.workspace 
{
    position:absolute;
    top:100px;
    left:300px;
    width:1000px;
    height:800px;
}

.queue
{
    position:absolute;
    top:0;
    left:300px;
    width:1000px;
    height:100px;
}


.files-area
{
    width:900;
    height:650;
}



/* style from queue.html*/
.column 
{
    height:75px;
    width:150px;
    float:left;
    border: 2px solid #ccddee;
    background-color: #cde;
    margin-right: 5px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 3px #cde;
    -ms-box-shadow: inset 0 0 3px #cde;
    box-shadow: inset 0 0 3px #cde;
    text-align: center;
    cursor: move;
}

.column header 
{
    color: #FFF;
    text-shadow: #000 0 1px;
    box-shadow: 5px;
    padding: 5px;
    background: -moz-linear-gradient(left center, rgb(0,10,20), rgb(79,179,200), rgb(179,200,250));
    background: -webkit-gradient(linear, left top, right top,
    color-stop(0, rgb(0,10,20)),
    color-stop(0.50, rgb(79,179,200)),
    color-stop(1, rgb(179,200,250)));
    background: -webkit-linear-gradient(left center, rgb(0,10,20), rgb(79,179,200), rgb(179,200,250));
    background: -ms-linear-gradient(left center, rgb(0,10,20), rgb(79,179,200), rgb(179,200,250));
    border-bottom: 1px solid #ddd;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -ms-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -ms-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
}
