/* style from participants.html */
.participants 
{
    position:absolute;
    left:0;
    top:0;
    width:250px;
    background-color: #ddd; /* Background color */
    color: #222;            /* Foreground color used for text */
    font-family: Helvetica;
    font-size: 14px;
	height: 100%;
	
	border-right: 1px solid #666;
}

#participantList {
	height: 40%;
	position:relative;
	overflow-y:auto;
	-webkit-overflow-scrolling: touch;

}

#groupList
{
	height: 35%;
	position:relative;
	overflow-y:auto;
	-webkit-overflow-scrolling: touch;
}

.twitterfeed {
	margin-top: -12px;
	margin-left: 12px;
	margin-right:12px;
}

.workspace 
{
    position:absolute;
    left:250px;
    width:1000px;
    height:850px;
	//padding-left:3px;
}

.queue
{
    position:absolute;
    top:-5px;
    left:250px;
    width:984px;
    margin:10px;
		
	overflow-x: scroll;
	overflow-y: hidden;
	border-radius: 8px;
}


#map_canvas {
	height: 730px;
}


/* style from queue.html*/
.column 
{
	overflow-y: hidden;
    width:177px;
    float:left;
    background-color: #B0BCCA;
    margin-right: 5px;	
    border-radius: 8px;
    text-align: center;
	position:relative;
	-webkit-transform: translate3d(0,0,0);
}

#columns {
	width: 690px;
	overflow-y:hidden;
	height: 100%;
	margin-top:0px;
	margin-left:-40px;

}

.column header 
{
    color: #FFF;
    text-shadow: 0px 1px 2px #000000;
    padding: 5px;	
    border-radius: 8px;
		
	background: #B0BCCA;
    background: -webkit-gradient(linear, left top, left bottom, from(#B0BCCA), to(#6D859F));
    background: -moz-linear-gradient(top, #B0BCCA, #6D859F);
    background: -o-linear-gradient(#B0BCCA, #6D859F);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B0BCCA', endColorstr='#6D859F');
    zoom:1;
}

.column header h1
{
    font-size:125%;
}

.tab {
	height:93%;
}

html {
	-webkit-tap-highlight-color: rgba(0,0,0,0); 
	-webkit-user-select: none;
}