body {
    background-color: #ddd; /* Background color */
    color: #222;            /* Foreground color used for text */
    font-family: Helvetica; 
    font-size: 14px;
    margin: 0;              /* Amount of negative space around the outside of the body */
    padding: 0;             /* Amount of negative space around the inside of the body */
}

h1 {
    margin: 0;
    padding: 0;
    background-color: #ccc;
    border: 1px solid #666;
    color: #FFFFFF;
    display: block;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
	text-shadow: 0px 1px 2px #000000;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#B0BCCA), to(#6D859F));
}

ul {
    list-style: none;
    margin: 10px;
    padding: 0;
	margin-bottom: -5px;
}

li.sound {
	background-image: url(../icons/audio.png);
	background-repeat: no-repeat;
	background-position: 5px 5px;

	padding: 20px;
	padding-left: 60px;
}

li.image {
	background-image: url(../icons/image.png);
	background-repeat: no-repeat;
	background-position: 5px 5px;

	padding: 20px;
	padding-left: 60px;
}

li.doc {
	background-image: url(../icons/document.png);
	background-repeat: no-repeat;
	background-position: 5px 5px;

	padding: 20px;
	padding-left: 60px;	
}

li.file {
	background-image: url(../icons/file.png);
	background-repeat: no-repeat;
	background-position: 5px 5px;

	padding: 20px;
	padding-left: 60px;	
}

li {
    border: 1px solid #999999;
	color: #222222;
    display: block;
	padding: 12px 10px;
	background-color: #FFFFFF;
	margin-bottom: -1px;
		
	padding: 20px;
	font-size: 17px;
    font-weight: bold;
}

ul.users li a {
	color: #222222;
	text-decoration: none;
	
	background-image: url(../icons/48X48/user.png);
	background-repeat: no-repeat;
	background-position: 0px 5px;
	padding: 20px;
	padding-left: 60px
}

ul.groups > li {
	background-image: url(../icons/48X48/user_group.png);
	background-repeat: no-repeat;
	background-position: 5px 5px;
	padding: 20px;
	padding-left: 60px
}

/* Rounds Corners */
ul li:first-child {
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
}
ul li:last-child {
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
}